*{
    margin: 0;
    padding: 0;
}
body{
    background-color: crimson;
}
.section-heading{
    height: auto;
    width: 550px;
    background-color: white;
    margin: 0 auto;
    border-radius: 20px;
    padding-bottom: 30px;
}
.input-class{
    margin-top: 50px;
    margin-left: 30px;
    width: 350px;
    height: 30px;
    padding: 10px;
    border:2px solid rgb(111, 122, 123);
    outline-color: crimson;
    border-radius: 10px;
}
.button{
    width: 100px;
    height: 50px;
    border: none;
    background-color: crimson;
    color: white;
    font-size: 16px;
    margin-left: 20px;
    border-radius: 10px;
    font-weight: 600;
}

.todo-section {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 20px 40px;
   
}
.delete-btn{
    background-color: crimson;
    color: white;
    width: 15px;
    height: 20px;
    padding: 10px 10px 10px 12px;
    border-radius: 7px;
}
.todo-section .todo-text{
    font-size: 35px;
    display: inline-block;
    padding-top: 5px;
    margin-left: 0;
}
.section{
        margin: 0px 15px;
}
.div-wrapper section{
    display: flex;
    min-width: 300px;
  }

.cancel{
    position: absolute;
    left: 67%;
    top: 65%;
}
h2{
    text-align: center;
    font-size: 35px;
    color: white;
    font-family:'Lato', sans-serif;
    font-weight: 600;
    margin: 30px;
}
.form{
    position: relative;
}